*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.main-nav{
    padding: 15px;
    float: left;
    font-size: 20px
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}
.menu li{
    display: inline-block;
    position: relative;
    float: right;
}
.menu ul li:hover a{
    color: royalblue;
    background-color: skyblue;
    border-radius: 4px;
}  
.firstImg{
    width: 1200px;
    height: 500px;
    background: silver;
    padding: 10px;
    border: 1px solid black
}
img{
    width: 1200px;
    height: 150px;
}
.main-content ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.main-content ul li{
    float: left;
    width: 32%;
    margin-right: 2%;
}