*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-image: url("./banner3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 800px;
    position: relative;
}
.logo{
    position: relative;
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    float: left;
}
#logo1{
    color:rgb(224, 137, 22);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    float: left;
}
#logo2{
    color: white;
    float: left;
    padding-top: 1px;
    padding-left: 5px;
}
.menu{
    float: right;
    margin: 10px;
}
.menu>li{
    display: inline;
    padding: 20px;
}
.menu>li>a{
    list-style-type: none;
    text-decoration: none;
    color: white; 
    font-weight: bold;
}
.menu>li>a:hover{
    color: black;
}
.title{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
}
h1{
    font-size: 60px;
    color: white;
}
#read-more{
    color: white;
    background-color:rgb(35, 133, 224);
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 10px;
}
#read-more:hover{
    color: black;
    background-color: rgb(21, 45, 179);
}

/*second section*/

.title-section{
    font-size: 50px;
    position: relative;
    margin-top: 40px;
    border-bottom: 2px solid black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.about-content{
    display: flex;
    padding: 40px 150px;
}
.about-description{
    flex: 1;
    margin: 0 30px;
}
h4{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgba(130,195,245,255);
    font-size: 30px;
    width: fit-content;
}
p{
    margin-bottom: 20px;
    font-size: 18px;
}
.about-image{
    background-image: url("./about.jpg");
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 300px;
}
.about-list{
    list-style-position: inside;
}
.about-list>li{
    list-style-image:url("./arrow_bullet.png");
    padding: 10px;
}

/*third section*/

.people-content{
  padding: 0 150px;
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
}
.people-description{
  flex: 1;
  background-color: rgba(130,195,245,255);
  margin: 0 20px;
}
.people-description>p{
    float: left;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.name{
    display: inline;
}
.name>img{
    border-radius: 50%;
    border: 2px solid white;
    float: left;
    padding: 4px;
    width: 90px;
    margin: 30px;
}
.name>span{
    margin-top: 70px;
    font-size: 20px;
    float: left;
}


/*fourth section*/

.contact-content{
    display: flex;
    height: 200px;
    width: 100%;
}
.contact-type{
    flex: 1;
}
.contact-type:nth-child(1){
    background-color: rgb(12, 177, 114);
}
.contact-type:nth-child(2){
    background-color: rgb(182, 49, 93);
}
.contact-type:nth-child(3){
    background-color: rgb(19, 78, 167);
}
.contact-type:nth-child(4){
    background-color: rgb(20, 115, 223);
}
.contact-type > h4{
  font-size: 30px;
  text-align: justify;
  padding-top: 20px;
}
.info{
    color: white;
    padding-left: 80px;
    display: inline-block;
}
#house{
   width: 200px; 
   height: 200px;
   margin-left: 160px;
}  
.ikonice-conect{
    margin-left: 170px;
    margin-top: 40px;
}
#slicice{
   height: 15px;
   width: 15px;
   margin-right: 15px;
}

/*Fifth page*/

form{
    padding: 15px 100px;
}
input{
    border-bottom: 1px solid black;
    height: 50px;
    width: 29%;
}
.input-field{
    margin: 5px 8px;
}
textarea{
    width: 90%;
    margin-top: 20px;
}
#submit{
    height: 40px;
    width: 100px;
    margin: 15px;
    color: white;
    background-color: rgb(202, 129, 20);
}
#submit:hover{
    color: black;
    background-color: rgb(150, 68, 10);
}
footer{
    background-color: rgb(61, 53, 53);
    height: 130px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white;
}


/*mobile*/

@media only screen and (max-width: 600px){
    .on-mobile{
        position: relative;
        }
    #logo{
        position: relative;
        }
    #logo1{
        border-top: 4px solid rgb(78, 72, 72);
        border-bottom: 4px solid rgb(78, 72, 72);
        border-left: 4px solid rgb(78, 72, 72);
        margin-left:140px;
    }
    #logo2{
        color: gray;
        padding-top: 5px;
        padding-left: 5px;
    }    
    .menu{
        position: absolute;
        display: block;
        text-align: center;
        background-color: rgb(78, 138, 250);
        margin-top: 70px;
        width: 100%;
        }
    .menu li{
        display: block;
        margin: 0 5px;
        padding: 5px 8px;
    }    
    header{
        height:900px;
        padding-bottom: 0;
        margin-bottom: 0;
        background-position: 10px;
    }
    
    
    h1{
        font-size: 30px;
        padding-bottom: 13px;
    }
    
    .title-section{
        width: fit-content;
        margin-top: 5px;
        padding-top: 5px;
    }

    #about-section{
        width: 100%;
    }
    .about-content{
        flex-direction: column;
        width: 100%;
        padding: 20px 40px;
        margin-bottom: 50px;
    }

    h4{
        width: 100%;
        margin: 15px 0px;
    }
    .about-description {
       padding-top: 15px;
       width: 100%;
    }
    .people-description>p{
        width: 80%;
    }
    .people-content{
        flex-direction: column;
        width: 100%;
        padding: 20px 40px;
    }
    .people-description{
        margin: 5px;
        
    }
    .name{
        margin: 5px;
    }


    .contact-content{
        flex-direction: column; 
        height: 800px;
    }
    .contact-type{
        flex-direction: column; 
        height: 400px;
        width: 50%;
    }
    .contact-type h4{
        text-align: center;
    }
    .info{
        margin-left: 70px;
    }
    .ikonice-conect{
        padding-left: 55px;
    }
    #house{
        margin-left: 200px;
     }  

    
    input{
        width: 100%;
    }
    textarea{
        width: 100%;
        margin-left: 10px;
    }

}
   


/*tablet*/
    
@media only screen and (max-width: 1000px){
    header{
       height: 500px;
    }
    .title{
       top: 40%;
    }
    h1{
        font-size: 40px;
    }


    .about-content{
    flex-direction: column;
    }
    .about-description{
        width: 50%;
    }


    
    .contact-content{
       
    }
 
    textarea{
        width: 95%;
    }
}
    
