body{
    background-image: url("./pexels-arthouse-studio-4534200.jpg");
    background-size:cover;

/* .firstImg{
    height: 200px;
}

.secondImg{
    width: 200px;
   display: block;
   margin: 0 auto;
}

.thirdImg{
    width: 200px;
    height: 200px;
    float: left;
} */