.firstUnordered{
list-style-type: circle;
}

.secondUnordered{
list-style-type: square;
}

.firstOrdered{
list-style-type: upper-alpha;
}

.secondOrdered{
list-style-type: upper-roman;
}

.additionalUnordered{
    width: 200px;
list-style-image: url("./bullet.png");
}

.additionalUnorderedList{
    width: 200px;
    list-style-position: inside;
    list-style-image: url("./bullet.png");
}

.table{
    margin: auto;
}

.firstRow{
    background-color: rgb(173, 15, 15);
}

.secondRow{
    height: 100px; 
}

tr:hover{
    background-color: yellow;
}


tr:nth-child(even) {
    background-color: rgb(218,220,224) 
}

img{
    height: 100px;
}