html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    height: 80px;
    background-color: rgb(88, 87, 86);
}
.navbar-brand{
    color: white;
    font-weight: bold;
    margin-left: 10%;
}
.d-flex{
    margin-right: 10%;
}

h1{
    text-align: center;
    font-size: 18px;
}


/* Main container */

#container{
    width: 60%;
    margin-left: 20%;
}

img{
    width: 50%;
    height: 600px;
}

p {
  margin-top: 20px;
}


/* Footer */

footer {
    background-color: rgb(88, 87, 86);
    height: 80px;
    margin-top: 20px;
}

footer>p {
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}