html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */

#myNavbar {
    padding-top: 0;
}

.container-fluid {
    height: 80px;
    background-color: rgb(88, 87, 86);
}

.navbar-brand {
    color: white;
    font-weight: bold;
    margin-left: 10%;
}

.d-flex {
    margin-right: 10%;
}

/* Title */

h1 {
    font-size: larger;
    text-align: center;
    margin-top: 20px;
}

/* Main content */

.main-container {
    width: 50%;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#preview {
    min-width: 31%;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}

#preview>h4 {
    color: rgb(44, 94, 243);
    padding-top: 10px;
    font-size: 14px;
}

/* Dropdown menu */

#search {
    width: 200px;
}

#dropdownList {
    padding-left: 0px;
    list-style: none;
}

#dropdownList>li {
    width: 200px;
    padding: 5px;
    background-color: white;
    border: 1px solid black
}

/* Footer */

footer {
    background-color: rgb(88, 87, 86);
    height: 80px;
    margin-top: 20px;
}

footer>p {
    text-align: center;
    padding-top: 30px;
}