html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid{
    height: 100px;
    border-bottom: 2px solid gray;
    background-color: rgb(200, 199, 197);
}

.navbar-brand{
    font-size: 70px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(185, 5, 5);
    margin-left: 20px;
    padding: 3px 10px;
}

.d-flex{
    margin-top: 10px;
    margin-right: 20px;
}

.button{
    background-color: rgb(185, 5, 5);
    margin: 0 5px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

main > div{
    margin: 20px 20px;
    background-color: rgb(200, 199, 197);
    padding: 15px;
}

h5{
    font-size: 15px;
    font-style: italic;
    justify-content: center;
    text-align: center;
}

img{
    width: 400px;
    height: 350px;
    border: 2px solid black;
    padding: 10px;
    margin-left: 100px;
    
}

main > div{
    flex-grow: 1;
    width: 31%;
}

p{
    padding: 10px 30px;
}

#preview{
    display: none;
}

#preview.visible{
   display: block;
}