html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    background-color: rgb(141, 128, 128);
    color: white;
    height: 50px;
}
header > p{
    padding: 18px;
}
body{
    background: url('./bg.jpg');
}
.container{
    background-color: rgb(231, 133, 182);
    width: 60%;
    /* height: 100%; */
    margin-left: 20%;
    margin-top: 5%;
}
#preview{
    width: 31%;
    height: 200px;
}
