* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./barca_stadion.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_content {
    display: block;
    position: relative;
}

h1 {
    color: white;
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
}

#prvi-tim {
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: rgb(50, 96, 134);
}

#prvi-tim>#profile {
    flex: 1;
    margin: 0px 2px;
    text-align: center;
}

#izmena {
    height: 200px;
    display: flex;
    flex-direction: row;
    margin: 0px 300px;
    background-color: rgb(50, 96, 134);
}

#izmena>#profile {
    flex: 1;
    margin: 0px 2px;
    text-align: center;
}

#profile {
    height: auto;
    width: fit-content;
    background-color: rgb(149, 62, 79);
    color: whitesmoke;
}

#info p {
    margin: 8px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 1rem;
}

#profile img {
    height: 60%;
}